<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <th><%= link_to "Title", :sort => "title" %></th>
  <th><%= link_to "Rating", :sort => "rating" %></th>
  <th><%= link_to "Release date", :sort => "release_date" %></th>
</thead>

<div id="movies">
  <% @movies.each do |movie| %>
    <tr>
     <td><%= link_to movie.title, movie %></td>
     <td><%= movie.rating %></td>
     <td><%= movie.release_date %></td>
    </tr>

  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
